<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Add Title here {% endblock %}</title>
   <style>
       {% block style%}
           .clear { clear: both; }
       {% endblock %}

  </style>
    {% block script %}

    {% endblock %}


    {% block head %} {% endblock %}

</head>
<body>
<div class="main">
{% block body1 %} {% endblock %}
{% block body2 %}{% endblock%}
{% block body3 %}{% endblock %}
<br  class='clear'/>
</div>
<footer>
    {% block footer %} {% endblock %}
</footer>
</body>
</html>