{% extends 'index.html' %}
{% block title %} Login {% endblock %}

{% block body2 %}
    <div class="myform" id="stylized">
        <form action= "/login/" method="POST"  id="form" name="form" >{% csrf_token %}
            <label> Username:
                <span class="small">Enter your username</span>
            </label>
            <input type="text" autofocus name="name" id="name"><br>
            <label>Password:
                <span class="small">Enter your password</span>
            </label>
            <input type="password"  name="password" id="password">
                <input type="submit" value="Login" name="submit">
            <div class='spacer'></div>
        </form>
    </div>
{% endblock %}