{% extends "index.html"%}
{% load staticfiles %}
{% block title %} Registration form {% endblock title %}
{% block body2 %}
{% if form.errors %}
<p style="color:red;">
    Please correct the error{{ form.errors|pluralize  }} below.
</p>
{% endif %}
    <div class="myform" id="stylized">
        <form action="" method = "POST" id="form" name="form">{% csrf_token %}
            {% for field in form %}

                <label>{{ field.label_tag }}
                    <span class="small">Enter your {{ field.label_tag }}</span>
                </label>{{ field }} <span class="error">{{ field.errors }}</span>

            {% endfor %}
            <button type="submit" value="submit" >Login
            </button>
        </form>
    </div>
{% endblock %}